<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Blogs</title>
</head>
<body>
    <div style="margin-top: 20px;" class="container">
        <h1 style="font-weight: bold;" class="mb-4">Blogs</h1>
        <p>Welcome <%=name%></p>
        <a href="/articles/new" class="btn btn-success">New Article</a>
        <a href="/users/logout" class="btn btn-warning">Logout</a>

       <br>
       <br>
            
    <% articles.forEach(articles =>{ %>
    <div  class="wrapper">
        <div class="title">
            <h2 style="font-style: italic;"><%= articles.title %> </h2>
            
        </div>

        <div class="card-body">
            <div >
            <h4 class="card-title"></h4>
            </div>
            <div class="card-subtitle text-muted mb-2">
                <%= articles.createdAt.toLocaleDateString() %>
            </div>
            <div class="card-text mb-2"><%= articles.description %></div>
            <a href="articles/<%=articles.slug%>" class="btn btn-primary">Read More</a>
            <form action="/articles/<%= articles.id %>?_method=DELETE" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button></form>
        </div>
           
          
     </div> 
     <br> 
     <% }) %>

    </div> 

    
           
</body>
</html>