<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <!-- <h1 class="mb-1"><%=article.title%></h1>
        <div class="text-muted mb-2">
            <%=article.createdAt.toLocaleDateString()%>
        </div>
        <a href="/" class="btn btn-secondary">All Atricles</a>
        <a href="/articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>

       <div>
        <%- article.sanitizedHtml %>
    </div> -->
    <div  class="wrapper">
        <div class="title">
            <h2 style="font-style: italic;"><%=article.title%> </h2>
            
        </div>

        <div class="card-body">
            
            <div class="card-subtitle text-muted mb-2">
                <%=article.createdAt.toLocaleDateString()%>
           </div>
            <a href="/" class="btn btn-secondary">All Atricles</a>
        <a href="/articles/edit/<%= article.id%>" class="btn btn-info">Edit</a>
        <br>
        <br>
        <div class="card-subtitle ">
           <b> <%=article.description%></b>
       </div>  
       <br>  
        <div>
                <%- article.sanitizedHtml %>
            </div>
           
        </div>
           
          
     </div> 
    </div>   
</body>
</html>